@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    background: #DBD9DE;
    font-family: 'Lato', sans-serif;
}

.header{
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    background: #FBFAFF;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.434);
}

.header img{
    width: 150px;
}

.apr{
    background: #FBFAFF;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.434);
}

.opt1{
    text-align: center;
}

.flex img{
    width: 60px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

.flex > div{
    background: #FBFAFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.434);
    flex: 1 1 200px;
    margin: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.flex a{
    text-decoration: none;
    color: black;
}

.menubaixo{
    background: #FBFAFF;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.256);
}

.menubaixo img{
    width: 30px;

    transition: all 0.5s;
    cursor: pointer;
}
.menubaixo img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.select2{
    background: rgba(0, 0, 0, 0.256);
    border-radius: 20px;
}

@media(max-width: 600px){
    .header{
        width: auto;
        margin: 15px;
    }
}